.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal-container {
  width: 600px;
  max-height: 90vh;

  background: white;

  border-radius: 10px;

  padding: 24px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

.modal-header h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--candidate-text-dark);
}

.modal-close-btn {
  border: none;
  background: none;

  font-size: 20px;

  cursor: pointer;

  color: var(--candidate-text-muted);
}

.modal-close-btn:hover {
  color: var(--candidate-text-dark);
}

.modal-body {
  overflow-y: auto;
  max-height: 70vh;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
