.candidate-dashboard-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== Inner Content ===== */

.layout-search-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.layout-search-content h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

/* ===== Heading ===== */

.search-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #0f172a;
}

.dashboard-feed-wrapper {
  display: flex;
  justify-content: center;
}
