/* ===== Sticky Section ===== */

.job-search-section {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  background: linear-gradient(to bottom, #89a1e4, #2563eb);

  padding: 25px;
  border-bottom: 1px solid #e2e8f0;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}

/* ===== Search Bar ===== */

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar input {
  width: 400px;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  outline: none;
  font-size: 14px;
}

.search-bar input:focus {
  border-color: #059669;
}

.search-btn {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #059669;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.search-btn:hover {
  background: #047857;
}
