/* ===== Sticky Section ===== */

.job-search-section {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background: transparent;
  padding: 25px;
  display: flex;
  justify-content: center;
}

/* ===== Main Search Container ===== */

.search-container {
  /* padding: 10px 10px; */
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  border: 1px solid #d1d5db;
  width: 1100px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

/* ===== Input Groups ===== */

.input-group {
  flex: 1;
  padding: 12px 15px;
  border-radius: 20px;
  transition: border 0.1s ease;
}

.input-group input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

/* ===== Active Border Effect ===== */

.input-group.active {
  border: 4px solid #2563eb;
}

/* ===== Divider ===== */

.divider {
  width: 2px;
  height: 30px;
  background: #e5e7eb;
}

/* ===== Button ===== */

.search-btn {
  padding: 12px 25px;
  border-radius: 20px;
  border: #2563eb;
  background: #2563eb;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s ease;
}

.search-btn:hover {
  background: #1637a3;
}
