.job-feed {
  width: 100%;
  max-width: 1100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.job-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.pagination-controls {
  margin-top: 20px;
}
