.connect {
  padding: 60px 40px;
  background: #f3f4e5;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    sans-serif;
}

.connect-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ================= TEXT ================= */

.connect-text {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
}

.connect-title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 24px;
  color: #111827;
}

.connect-subtitle {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #6b7280;
  margin-bottom: 40px;
}

/* ================= IMAGES ================= */

.connect-images {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.connect-image-card {
  flex: 1;
  min-width: 300px;
  max-width: 550px;
  text-align: center;
}

.image-path img {
  width: 100%;
  border-radius: 10px;
}

/* Label */

.image-label {
  font-size: 2rem;
  color: rgb(68, 68, 68);
  margin-bottom: 20px;
}

.connection-logo {
  width: 50%;
  margin-bottom: 20px;
}

/* Highlight “after” image */

.connect-image-card.highlight {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {
  .connect-title {
    font-size: 2rem;
  }

  .connect-images {
    flex-direction: column;
    align-items: center;
  }
}
