/* Page Base */
.home-page {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
  background-color: #f3f4e5;
  min-height: 100vh;
  overflow: hidden;
}

* {
  outline: 1px solid red;
}
